<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
        tr,th,td{
            border:1px solid black
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>password</th>
        </tr>
       
            <% for(i of results){ %>
                <tr>
                <td><%= i.id %></td>
                        <td><%= i.name %></td>
                        <td><%= i.password %></td>
                    </tr>
            <% }%>
      
    </table>
</body>
</html>
