h1::before{
    content: "Ram ";
    color:yellowgreen;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 3px solid black;
    height: 50vh;
    width: 50vw;
    font-size: 10px;
}
body{
    
    height: 100vh;
}
.child{
    border: 2px solid green;
    height :50%;
    width:50%;
    font-size: 2em;
}