*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header div a{
   text-decoration: none;
   color:black;

}
.header{
    height: 60px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    box-shadow: 10px 1px 8px #888888;
}


